<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rural Camp</title>
	<link rel="stylesheet" href="../public/styles/normalize.css">
	<link rel="stylesheet" href="../public/styles/styles.css">
</head>
<body>
	<header>
		<nav>
			<span class="logo"><a href=""><img src="" alt="">LOGO</a></span>
			<span class="nav-links">
				<span><a href="">Discover</a></span>
				<span><a href="">Favorites</a></span>
				<span><a href="">Sign in</a></span>
			</span>
		</nav>
	</header>
	<main>
		
	</main>
	<footer>
		
	</footer>

</body>
</html>