<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rural Camp</title>
	<link rel="stylesheet" href="../public/styles/normalize.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="../public/styles/styles.css">
</head>
<body>
	<header>
		<nav>
			<span class="logo"><a href=""><img src="" alt="">LOGO</a></span>
			<span class="nav-links">
				<span><a href="">Discover</a></span>
				<span><a href="">Favorites</a></span>
				<span><a href="">Sign in</a></span>
			</span>
		</nav>
	</header>
	<main>
		<div class="search-option">
			<div class="search-option-image">
				<input class="search" type="text" placeholder="Search for a camp ground!">
				<input class="search-submit" type="submit">
				<img src="../images/search-option-imageBG.png" alt="">
			</div>
		</div>

		<div class="container">
			<div class="left-portion">
				
			</div>
			<div class="middle-portion">
				<div class="about-us-container">
					<!-- <img src="../images/camp1.jpeg" alt="Camp by the ocean"> -->
					<p class="about-us first-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin molestie urna vel augue consequat, ac congue magna suscipit. Nam aliquam, ligula eu mollis blandit, nulla velit fermentum augue, eget tincidunt erat risus vitae lorem. Nunc feugiat sapien ultricies est vestibulum vestibulum. Sed at lorem et enim vestibulum accumsan at nec est. Vivamus scelerisque interdum turpis, auctor dapibus enim tristique in. Pellentesque dapibus mi eget nibh aliquam, sed imperdiet arcu tristique. Nunc purus enim, aliquam vel massa vitae, elementum semper arcu. Donec quis ligula eget enim posuere bibendum id at neque.</p>

					<p class="about-us">Praesent venenatis dignissim tortor ac finibus. Pellentesque interdum massa sit amet suscipit iaculis. Ut facilisis gravida varius. Donec tristique ac nunc in molestie. Cras ut accumsan nibh. Vestibulum ultricies lorem ante, vel fermentum nulla varius quis. Cras dapibus nibh felis, a maximus risus maximus vitae. Sed mollis, velit ut placerat condimentum, erat lectus aliquet erat, at volutpat nibh risus at urna. Proin turpis ante, elementum nec convallis a, tincidunt vel nulla. Phasellus ipsum nulla, tempor nec placerat pharetra, cursus eu ipsum.</p>

					<p class="about-us">Vivamus eleifend maximus dapibus. Aenean sit amet mauris ullamcorper, faucibus purus non, molestie quam. Cras feugiat iaculis sem, ut sollicitudin nunc feugiat blandit. Cras interdum at sem sed porttitor. Suspendisse non mi ac nunc scelerisque imperdiet eu sed orci. Cras nec sodales urna, vel aliquam lectus. Donec velit felis, porta vel facilisis eget, mattis pellentesque ex.</p>

					<p class="about-us">Suspendisse id est sapien. Nullam vitae ligula nec mauris sagittis mollis. Sed et vehicula odio, viverra volutpat leo. Quisque scelerisque sollicitudin varius. Nam ultrices eros vitae augue tempus, eget tristique arcu pulvinar. Phasellus auctor ipsum sit amet magna lobortis, eu vestibulum risus scelerisque. Nullam pellentesque nibh quis erat auctor semper. Vestibulum tortor nisi, efficitur ac lacus ut, dignissim interdum urna. Mauris maximus massa ante. Cras viverra ac felis sagittis eleifend.</p>

					<p class="about-us">Phasellus ultricies neque ex, id placerat erat aliquet ut. Aenean a euismod ante. Vivamus vehicula, sem sed varius malesuada, tortor mauris rhoncus dui, eu rutrum lectus diam eu augue. Vivamus sed sodales dui. Sed cursus commodo dui, vitae elementum nibh fringilla sed. Proin euismod dictum nulla, at dictum dolor efficitur vitae. Vivamus eget eros ipsum. Etiam a velit tempor, commodo magna quis, efficitur felis. Proin rhoncus libero id ultricies gravida. Proin tempus elementum felis, interdum iaculis velit faucibus id. Ut porttitor eu lectus eu ornare.</p>
				</div>
			</div>
			<div class="right-portion">
				
			</div>
		</div>

		<div class="parallax-image">
			<div>
				<img src="" alt="">
			</div>
		</div>
	</main>
	<footer>
		<div class="social-media-links">
			<p><i class="fab fa-instagram"></i></p>
			<p><i class="fab fa-twitter"></i></p>
			<p><i class="fab fa-google-plus-g"></i></p>

		</div>
	</footer>

</body>
</html>