nav {
	border: 2px solid red;
	max-width: 100%;
	height: 7.5%;

}

.nav-links {
	float: right;    
	display: inline-block;
    vertical-align: middle;
    line-height: 3.5em;
	padding-right: 2em;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    line-height: 3.5em;
    padding-left: 2em;
}

.nav-links span {
	padding: 10px;
}

main {
	border: 2px solid blue;
	height: 100%;
	max-width: 100%;
}

.search-option {
	background-image: url('../images/search-option-imageBG.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100vw;
	height: 60vh;
}

#search {
	width: 40%;
	padding: .3em;
	font-size: 1.5em;
	margin-top: 5em;
	box-shadow: 3px 3px 15px #888888;
}

#filter-submit {
    position: relative;
    z-index: 1;
    font-size: 1.2em;
    left: -40px;
    color: #7B7B7B;
    cursor: pointer;
    width: 0;
    border: none;
}

.search-option{
	max-width: 100%;
	text-align: center;
}

.tag-line {
	color: white;
	margin: 5px auto;
	font-size: 2em;
	background-color: rgba(0, 0, 0, 0.5);
	width: 25%;
	border-left: 4px solid orange;
}

.container {
	display: flex;
}

.about-us {
	max-width: 70%;
	margin: 0 auto;
	padding-top: 2%;
}

.first-paragraph {
	padding-top: 6%;
}

.left-portion {
	border: 2px solid green;
	width: 80%;
	height: 730px;
}

.middle-portion {
	text-align: center;
	border: 2px solid orange;
} 

.right-portion {
	border: 2px solid purple;
	width: 80%;
	height: 730px;
}

.parallax-image1 {
	background-image: url("../images/camp1.jpeg");
	height: 50vh;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-image2 {
	background-image: url("../images/camp2.jpeg");
	height: 50vh;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.steps {
	border: 2px solid black;
	display: flex;
	justify-content: space-around;
	font-size: 3em;
	text-align: center;
}

.left-step, .middle-step, .right-step {
	/*border: 2px solid gray;*/
	padding: 3em 0;
	margin: 0;
}

.steps-description {
	font-size: .6em;
	max-width: 80%;
}

.steps p {
	margin: 10px auto;
}

.left-step button, .middle-step button {
	font-size: .5em;
	border-radius: 1em;
	outline: none;
}

footer {
	border: 2px solid cyan;
	max-width: 100vw;
	height: 20vh;
}

.social-media-links {
	display: flex;
	justify-content: flex-end;
	font-size: 2em;
	/*float: right;*/
	padding: .4em;
}

.social-media-links p {
	padding: .5em;
}